.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
}
.fieldCell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: 0.3s all;
}
